<section>
  <p id="notice"><%= notice %></p>

  <h1>Everyone in Chipper</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="email">Email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="name"><%= user.name %></td>
          <td class="email"><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</section>
