<section>
  <h1>Home</h1>
  <h3>What everyone is saying:</h3>
  <% @posts.each do |f| %>
    <div class="cell">
      <h4><%= f.title %></h4>
      <p><%= f.body %></p>
    </div>
  <% end %>
  <%= link_to 'Chipper-ers', users_path %>
  <%= link_to 'My Account', user_path %>
</section>
