<p id="notice"><%= notice %></p>


<% @posts.each do |f| %>
  <div class="onePostSet">
    <div id="postSetShow">
      <h5><%= f.title %></h5>
      <p><%= f.body %></p>
    </div>
  </div>
<% end %>
<div class="back"><%= link_to 'Back', user_posts_path %></div>
