// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section {
  max-width: 900px;
  margin: 1.5em auto;
}
.cell {
  width: 100%;
  height: auto;
  margin: 1.5em;
  padding: 2em;
  background: rgb(200, 195, 198);
}
